/* Base styles for the app */
body, html {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  background: linear-gradient(to bottom right, #EEFFEE, #ffffff, #c9f2c9);
  color: #282B29;
}

/* Centering the main app container */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  overflow-x: hidden;
}

/* Add any other global styles if needed */
